<h2>Repositories

  <%= link_to users_sync_repositories_path, method: "POST", class: "btn btn-success pull-right" do %>
    <i class="fa fa-refresh"></i>
    Sync
  <% end %>
</h2>

<ul class="list-group" >
<% repositories.each do |repository|  %>
<li class="list-group-item">
  <%= fa_stacked_icon repository.provider+" ", base: 'circle-thin' %>
  <input type="checkbox" <%= 'checked' if repository.active %> data-toggle="toggle" data-onstyle="success">
  <%= link_to repository.name, repository %>
  <a href="#" class="pull-right">
    <%= fa_icon 'gear' %>
  </a>
</li>
<% end %>
</ul>
