
<div class="col-md-4">
  <%= render "/repositories/list", repositories: current_user.repositories %>
</div>

<div id="repository" class="col-md-8">

  <% unless @repository.active %>
      <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>
        This repository is not activated!
      </div>
  <% end %>

  <h1><%= fa_stacked_icon @repository.provider+" inverse", base: 'circle' %><%= @repository.name %></h1>
  
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current</a>
    </li>
    <li role="presentation">
      <a href="#pull-requests" aria-controls="pull-requests" role="tab" data-toggle="tab">Pull Requests</a>
    </li>
    <li role="presentation">
      <a href="#build-history" aria-controls="build-history" role="tab" data-toggle="tab">Build History</a>
    </li>
    <li role="presentation">
      <a href="#containers" aria-controls="containers" role="tab" data-toggle="tab">Containers</a>
    </li>
    <li role="presentation">
      <a href="#settings" aria-controls="containers" role="tab" data-toggle="tab">Settings</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="current">
      <h1>Current</h1>
      <p>show builds running</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="pull-requests">
      <%= render "/pull-requests/list" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="build-history">
      <%= render "/builds/list" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="containers">
      <%= render "/containers/list" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      <%= render :partial => "/repositories/settings" %>
    </div>
  </div>
</div>
