<!DOCTYPE html>
<html>
<head>
  <title>TerryCi</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">TerryCI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <a href="#" data-target="menu" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %>
              <img class="img-circle" src="<%= current_user.avatar_url %>" alt="<%= current_user.email %>" width="24">
              <span class="caret"></span>
            </a>
            <ul id="menu" class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path(), method: 'DELETE' %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in with Bitbucket", user_omniauth_authorize_path(:bitbucket) %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <%= yield %>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
</body>
</html>
